@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body{
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center; /*center vertically */
    align-items: center; /* center horizontally */
    background: #efefef;
    text-align: center;
}

.thumbsup{
    width: 90px;
    height: 100%;
    margin: 1rem;
}

h1{
    font-size: 2rem;
    font-weight: 600;
    line-height: 2.5rem;
}

p{
    font-size: 1.3rem;
    font-weight: 400;
    margin-bottom: 1rem;
    margin: 1rem;
    line-height: 1.7rem;
}